.calculator {
	background: var(--pure-white);
	padding: 10rem;
}
.input,
.last,
.left {
	font-size: 28rem;

	padding: 8px 0;
	min-height: 48rem;
	display: flex;
	align-items: center;
	width: 100%;
	font-family: monospace;
	@media (min-width: 768px) {
		font-size: 32rem;
	}
}
.input {
	cursor: pointer;
	border-radius: none;
	border: none;
	border-bottom: 1px solid var(--pure-black);
}

.disclaimer {
	background: var(--pure-white);
	padding: 12rem;
	margin: 0 0 24px 0;
}

.text {
	padding: 8px 0;
}

.inputWrap {
	position: relative;
	width: 100%;
	height: fit-content;
	display: grid;
	gap: 8px;
	justify-items: center;
}

.inputButton {
	opacity: 0;
	width: 40px;
	height: 100%;
	border: 1px solid var(--pure-black);
}

.inputButton.active {
	opacity: 1;
}
